<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-aimbrain"
    version="1.0.0-dev">

    <name>AimBrain</name>
    <description>Cordova AimBrain Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,aimbrain</keywords>
    <repo>https://bitbucket.org/n_shah/aimbraincordovaplugin.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320652</issue>

    <dependency id="cordova-plugin-device" version="^1.0.0" />

    <js-module src="www/aimbrain.js" name="aimbrain">
        <clobbers target="AimBrain" />
    </js-module>

    <preference name="AIMBRAIN_API_KEY" default=" " />
    <preference name="AIMBRAIN_SECRET_KEY" default=" " />
    <preference name="AIMBRAIN_FACIAL_ENABLED" default="true" />
    <preference name="AIMBRAIN_BEHAVIOURAL_ENABLED" default="true"/>
    <preference name="AIMBRAIN_COLLECT_AT_START" default="false"/>
    <preference name="AIMBRAIN_AUTO_SUBMIT_ON" default="false"/>
    <preference name="AIMBRAIN_AUTO_SUBMIT_DELAY" default="0"/>
    <preference name="AIMBRAIN_AUTO_SUBMIT_PERIOD" default="0"/>
    <preference name="AIMBRAIN_AUTO_SUBMIT_CALLBACK" default="0"/>
    <preference name="AIMBRAIN_AUTH_UPPER_TEXT" default="To authenticate, please face the camera and press the camera button below"/>
    <preference name="AIMBRAIN_AUTH_LOWER_TEXT" default="Position your face fully within the outline"/>
    <preference name="AIMBRAIN_RECORDING_HINT" default=" "/>
    <preference name="AIMBRAIN_ENROLL_UPPER_TEXT" default="To enroll, please face the camera and press the camera button below"/>
    <preference name="AIMBRAIN_ENROLL_LOWER_TEXT" default="Position your face fully within the outline"/>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AimBrain">
                <param name="android-package" value="com.aimbrain.cordova.AimBrainPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <!-- <config-file target="AndroidManifest.xml" parent="./" mode="merge">
          <application android:name="com.aimbrain.sdk.AMBNApplication.AMBNApplication"></application>
        </config-file> -->

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <activity android:name="com.aimbrain.sdk.faceCapture.PhotoFaceCaptureActivity" />
          <activity android:name="com.aimbrain.sdk.faceCapture.VideoFaceCaptureActivity" />
        </config-file>

        <source-file src="src/android/AimBrainPlugin.java" target-dir="src/com/aimbrain/cordova" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <resource-file src="src/android/lib/aimbrain-sdk.aar" target="libs/aimbrain-sdk.aar" />

        <config-file target="./res/values/strings.xml" parent="/resources">
            <string name="AIMBRAIN_API_KEY">$AIMBRAIN_API_KEY</string>
            <string name="AIMBRAIN_SECRET_KEY">$AIMBRAIN_SECRET_KEY</string>
            <string name="AIMBRAIN_FACIAL_ENABLED">$AIMBRAIN_FACIAL_ENABLED</string>
            <string name="AIMBRAIN_BEHAVIOURAL_ENABLED">$AIMBRAIN_BEHAVIOURAL_ENABLED</string>
            <string name="AIMBRAIN_COLLECT_AT_START">$AIMBRAIN_COLLECT_AT_START</string>
            <string name="AIMBRAIN_AUTO_SUBMIT_ON">$AIMBRAIN_AUTO_SUBMIT_ON</string>
            <string name="AIMBRAIN_AUTO_SUBMIT_DELAY">$AIMBRAIN_AUTO_SUBMIT_DELAY</string>
            <string name="AIMBRAIN_AUTO_SUBMIT_PERIOD">$AIMBRAIN_AUTO_SUBMIT_PERIOD</string>
            <string name="AIMBRAIN_AUTO_SUBMIT_CALLBACK">$AIMBRAIN_AUTO_SUBMIT_CALLBACK</string>

            <string name="AIMBRAIN_AUTH_UPPER_TEXT">$AIMBRAIN_AUTH_UPPER_TEXT</string>
            <string name="AIMBRAIN_AUTH_LOWER_TEXT">$AIMBRAIN_AUTH_LOWER_TEXT</string>
            <string name="AIMBRAIN_RECORDING_HINT">$AIMBRAIN_RECORDING_HINT</string>
            <string name="AIMBRAIN_ENROLL_UPPER_TEXT">$AIMBRAIN_ENROLL_UPPER_TEXT</string>
            <string name="AIMBRAIN_ENROLL_LOWER_TEXT">$AIMBRAIN_ENROLL_LOWER_TEXT</string>
        </config-file>
    </platform>
</plugin>
